/* Theme box border styling - matches wiki card-prototype-v2.html */
/* Border-image and related box model properties that need to work together */
.themeBox {
  padding: 10px;
  border-image-source: url('/assets/theme-box.png');
  border-image-slice: 50 fill;
  border-image-width: 30px;
  border-width: unset;
  border-style: solid;
}
